body{
    background-color: rgba(229, 126, 255, 0.861);
    color: #000000;
    display: grid;

    place-items:center;
    text-align: center;
}


ul.unfinished-bus > li {
    margin-top: 4em;
    margin-bottom: 0.1em;
    margin-left: 4em;
    margin-right: 3em;

    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border-style: solid;
    border-width: 5px;
    border-color:antiquewhite;
    border-radius: 5px;

    background-color:hsl(0, 0%, 100%);

    
}

h1, h2, h3 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color:color-mix(in hsl, hsl(125 60 90), purple 90%);
    margin: 2em 2em 1em 2em;
}

#attendanceList {
    margin:auto;
    padding: 0.5em 2em 0.5em 0.5em; 
    color: color(display-p3 0 0 2);
}

@font-face {
    font-family: "myFont";
    src: url("RibeyeMarrow-Regular.ttf");
}


* {
    font-family: "myFont";
}

p:active {
    background:aliceblue;
}

a:hover{
    background: yellow;
}

.diagram {
    height: 5vh;
    width: 100vw;
}